@font-face {
    font-family: 'FNT';
    src: url('../fnt/FNT/Vazirmatn-FD-Bold.woff2') format('woff2');
        /* url('../fnt/FNT/Vazirmatn-FD-Bold.woff') format('woff'); */
    font-weight: Bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FNT';
    src: url('../fnt/FNT/Vazirmatn-FD-Light.woff2') format('woff2');
        /* url('../fnt/FNT/Vazirmatn-FD-Light.woff') format('woff'); */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'FNT';
    src: url('../fnt/FNT/Vazirmatn-FD-Regular.woff2') format('woff2');
        /* url('../fnt/FNT/Vazirmatn-FD-Regular.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

